
.PostsContainer {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    
}

.PostsContainer > .post {
    height: auto;
    display: grid;
    /*grid-template-rows: 12% 63% 25%; /* header , main , footer */ 
    grid-template-rows: auto auto auto;

}

.PostsContainer > .post > header {
    display: grid;
    grid-template-columns: 17% 78% 5%;
    text-align: left;
    padding: 10px 0 ;
    font-weight: bold;
    
}


.PostsContainer > .post > main {
    display: flex;
    flex-direction: column;
}

.PostsContainer > .post > footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 0;
}